<% @hand.each do |card| %> 
	<div class="card <%= card.suit == ('clubs' || 'spades') ? 'black' : 'red' %>">
		<div class="top right"><h2><%= card.value %></h2> </div>
		<div class="top left suit"><h1>&<%= card.suit %>;</h1></div>
		<div class="bottom left"><h2><%= card.value %></h2> </div>
	</div>	
<% end %>
<p><%= @straight %></p>